.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: rgb(182, 170, 170);
}
header > div {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
}
.main-wrapper {
  background-color: #62558a;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-footer {
  background-color: #282c34;
  min-height: 10vh;
}

.app-footer h6 {
  margin: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
